.btn {
    width: 264px;
    height: 76px;
    border-radius: 25px;
    text-align: start;
    padding-left: 24px;
    font-weight: 600;
    background: black;
    color: white;
    font-size: 24px;
    font-family: Nunito;
    border: white 6px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-back{
    margin-top: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.btn-item{
    margin-top: 18px;
}


@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }